<app-navbar></app-navbar>

<div class="mt-16 text-white">

    <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

    <div class="flex py-5">
        <div><p class="text-4xl ml-5 font-bold">{{influDatas.name}}</p>
            <div class="flex flex-wrap ml-3 mt-3">
            <button *ngFor="let cat of influDatas.category" type="button" class="text-white bg-gray-800 hover:bg-green-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs md:text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:focus:ring-gray-700 dark:border-gray-700">{{cat}}</button>
 
        </div>
        <div class="block max-w-3xl bg-slate-900 rounded-lg shadow-sm  ml-3 mt-3 ">
            <p class="text-justify text-xs md:text-base">{{influDatas.description}}</p>
        </div>
        </div>
    </div>

    <div class="p-4">

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

            <div class="block max-w-sm p-6 bg-slate-800 border border-slate-700 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex items-center space-x-2">
                    <div>
                        <p class="text-white font-bold text-md">Trust Score</p>
                        <p class="text-green-500 font-bold text-3xl mt-2">{{influDatas.trustScore}}</p>
                        <p class="text-gray-500 text-xs">Based on 127 verified claims</p>
                    </div>
                </div>
            </div>
    
            <div class="block max-w-sm p-6 bg-slate-800 border border-slate-700 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex items-center space-x-2">
                    <div>
                        <p class="text-white font-bold text-md">Yearly Revenue</p>
                        <p class="text-green-500 font-bold text-3xl mt-2">{{influDatas.yearlyRevenue}}</p>
                        <p class="text-gray-500 text-xs">Estimated earnings</p>
                    </div>
                </div>
            </div>
    
            <div class="block max-w-sm p-6 bg-slate-800 border border-slate-700 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex items-center space-x-2">
                    <div>
                        <p class="text-white font-bold text-md">Products</p>
                        <p class="text-green-500 font-bold text-3xl mt-2">{{influDatas.products}}</p>
                        <p class="text-gray-500 text-xs">Recommended products</p>
                    </div>
                </div>
            </div>

            <div class="block max-w-sm p-6 bg-slate-800 border border-slate-700 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex items-center space-x-2">
                    <div>
                        <p class="text-white font-bold text-md">Followers</p>
                        <p class="text-green-500 font-bold text-3xl mt-2">{{influDatas.numberOfFollowers}}</p>
                        <p class="text-gray-500 text-xs">Total following</p>
                    </div>
                </div>
            </div>
            
        </div>
        
        
    </div>



<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-600 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
            <a class="inline-block text-gray-400 p-4 border-b-2 border-transparent rounded-t-lg hover:text-green-500 hover:border-green-500 dark:hover:text-gray-300 cursor-pointer">Claim Analysis</a>
        </li>
    </ul>
</div>



<div class="p-4">
<div class="w-full p-4 bg-transparent border border-slate-700 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">

<div>
<form>   
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="search" class="block w-full bg-slate-300 p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Claims" required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-slate-900 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>
</div>

<div class="mt-10">
    <p>Categories</p>
    <div class="flex flex-wrap ml-3 mt-3">
        <button *ngFor="let cat of influDatas.category" type="button" class="text-white border border-slate-700 bg-gray-800 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs md:text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">{{cat}}</button>

    </div>

</div>

<div class="mt-10">
    <p>Verification Status</p>
    <div class="mt-3">
        <button type="button" class="text-white border border-slate-700 bg-gray-800 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs md:text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">All Status</button>
        <button type="button" class="text-whit border border-slate-700e bg-gray-800 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs md:text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Verified</button>
        <button type="button" class="text-white border border-slate-700 bg-gray-800 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs md:text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Questionable</button>
        <button type="button" class="text-white border border-slate-700 bg-gray-800 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs md:text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Debunked</button>
    </div>

</div>

</div>

</div>

<div class="p-4">
    <div>
        <p class="text-gray-400">Showing 10 claims</p>
    </div>
    <div *ngFor="let post of influDatas.podcasts" class="w-full bg-transparent border-b border-slate-700 rounded-lg shadow-sm sm:p-8 dark:border-gray-700">
    
    <div>
        <p class="text-sm text-gray-400">{{post.publishedAt | date:'medium'}}</p>
        
    </div>

    <div class="mt-3">
     <p class="text-lg">{{post.title}}<p>    
    </div>
    
    <div class="mt-3">
        <a [href]="post.link" target="_blank" class="text-blue-500 hover:underline">View Source</a>
      </div>
    

    </div>
    
    </div>




</div>

</div>
