
<div class="flex flex-col min-h-screen">

    <div class="flex flex-col justify-center items-center mt-5">
        <p class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg class="w-20 h-20 text-sky-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20a16.405 16.405 0 0 1-5.092-5.804A16.694 16.694 0 0 1 5 6.666L12 4l7 2.667a16.695 16.695 0 0 1-1.908 7.529A16.406 16.406 0 0 1 12 20Z"/>
              </svg>
              <span class="self-center text-3xl md:text-4xl mt-5 font-bold text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Verify Influencers</span>
            </p>
        </div>


        <div class="flex flex-col justify-center items-center mt-24">
<div class="w-full max-w-md p-4 bg-slate-900 border border-slate-700 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form [formGroup]="myForm" (ngSubmit)="adminLoginIn()" class="space-y-6" action="#">
        <h5 class="text-xl font-medium text-white dark:text-white">Sign in to our platform</h5>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-white dark:text-white">Your email</label>
            <input type="email" name="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required />
            <div
            *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
            class="text-red-600 font-bold"
          >
            <small
              *ngIf="myForm.get('email')?.errors?.['required']"
              class="text-red-600 flex items-center space-x-1 mt-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#f44336"
                  d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                ></path>
                <path
                  fill="#fff"
                  d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
                ></path>
                <path
                  fill="#fff"
                  d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
                ></path>
              </svg>
              <span>Email is required.</span></small
            >
            <small
              *ngIf="myForm.get('email')?.errors?.['email']"
              class="text-red-600 flex items-center space-x-1 mt-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#f44336"
                  d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                ></path>
                <path
                  fill="#fff"
                  d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
                ></path>
                <path
                  fill="#fff"
                  d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
                ></path>
              </svg>
              <span>Invalid email format</span></small
            >
          </div>
          <div *ngIf="emailInvalid" class="text-red-600 font-bold">
            <small>{{ emailInvalid }}</small>
          </div>
        </div>
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-white dark:text-white">Your password</label>
            <input type="password" name="password" formControlName="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
            <div
            *ngIf="
              myForm.get('password')?.invalid && myForm.get('password')?.touched
            "
            class="text-red-600 font-bold"
          >
            <small
              *ngIf="myForm.get('password')?.errors?.['required']"
              class="text-red-600 flex items-center space-x-1 mt-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#f44336"
                  d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                ></path>
                <path
                  fill="#fff"
                  d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
                ></path>
                <path
                  fill="#fff"
                  d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
                ></path>
              </svg>
              <span>Password is required.</span>
            </small>
            <small
              *ngIf="myForm.get('password')?.errors?.['minlength']"
              class="text-red-600 flex items-center space-x-1 mt-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#f44336"
                  d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
                ></path>
                <path
                  fill="#fff"
                  d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
                ></path>
                <path
                  fill="#fff"
                  d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
                ></path>
              </svg>
              <span>Minimum length is 6.</span>
            </small>
          </div>
          <div *ngIf="passwordInvalid" class="text-red-600 font-bold">
            <small>{{ passwordInvalid }}</small>
          </div>
        </div>
        <div class="flex items-start">
            <a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
        </div>
        <button type="submit" class="w-full text-white bg-slate-900 border border-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Not registered? <a routerLink = "/register" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
        </div>
    </form>
</div>
</div>
</div>
